# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all doc,logfiles and tempfiles.
/log/*.log
/tmp
*~
*.swp
*.swo
/doc
*.sublime-project
*.sublime-workspace
*.lock
/shared/log/*
/shared/pids/*